# Metadata

```
Course:   DS 5100
Module:   05 Numpy (Numerical Python)
Topic:    Basic File I/O in Python 
Author:   R.C. Alvarado
Date:     26 June 2022 (revised 13 September 2022)
```

**Objectives**
- Demonstrate use of Python's `open()` function
- Show pattern using loops, comprehensions, and string operations to import a CSV
- Show how to parse an imported CSV into a 2D list
- Show how to convert a 2D list into a 2D Numpy array
- Describe the difficulties associated with this importing CSV files using basic Python

# Open Files with `open()`

Let's open a sample CSV file, `biostats.csv`.

* This has some biometric statistics for a group of office workers. 
* There are 18 records, recording Name, Sex, Age, Height, Weight 
* There is an initial header line.
* This file was downloaded from https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html and modified slightly.

In [1]:
src_file_name = "./sample_data_files/biostats.csv"

We call the `open()` function and pass it two parameters:
* The name of the file we want to open.
* The mode in which the file is opened. It defaults to `r` which means open for reading in text
mode. Other common values are:
  * `w` for writing (truncating the file if it already exists)
  * `x` for creating and writing to a new file 
  * `a` for appending

The returns a file object whose type depends on the mode and
through which the standard file operations such as reading and writing
are performed. So, to read from the file, you need to have specified type `r` and to write you need to have specified `w`.

The file object is an iterator.

For more info, check out [the Python docs](https://docs.python.org/3/library/functions.html#open) or run `open?` from a code cell.

Note, we sometimes call the file object a file "handle."

In [2]:
# open?

In [3]:
file_handle = open(src_file_name, 'r')

`.read()` reads in the file as one long string.

In [4]:
file_as_big_string = file_handle.read()

In [5]:
file_as_big_string[:1000]

'"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"\n"Alex",       "M",   41,       74,      170\n"Bert",       "M",   42,       68,      166\n"Carl",       "M",   32,       70,      155\n"Dave",       "M",   39,       72,      167\n"Elly",       "F",   30,       66,      124\n"Fran",       "F",   33,       66,      115\n"Gwen",       "F",   26,       64,      121\n"Hank",       "M",   30,       71,      158\n"Ivan",       "M",   53,       72,      175\n"Jake",       "M",   32,       69,      143\n"Kate",       "F",   47,       69,      139\n"Luke",       "M",   34,       72,      163\n"Myra",       "F",   23,       62,       98\n"Neil",       "M",   36,       75,      160\n"Omar",       "M",   38,       70,      145\n"Page",       "F",   31,       67,      135\n"Quin",       "M",   29,       71,      176\n"Ruth",       "F",   28,       65,      131'

Since the file object is an iterator, we can't get the string again from the object.

In [6]:
file_as_big_string = file_handle.read() # Try reading from the handle again
file_as_big_string[:1000] # Nothing there since the iterator is exhausted

''

So, let's create a new handle, read in the contents again, and then parse our string by newlines using `.split("\n")`.

In [7]:
file_handle = open("./sample_data_files/biostats.csv", 'r')
file_as_big_string = file_handle.read()
file_as_big_string.split("\n")

['"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"',
 '"Alex",       "M",   41,       74,      170',
 '"Bert",       "M",   42,       68,      166',
 '"Carl",       "M",   32,       70,      155',
 '"Dave",       "M",   39,       72,      167',
 '"Elly",       "F",   30,       66,      124',
 '"Fran",       "F",   33,       66,      115',
 '"Gwen",       "F",   26,       64,      121',
 '"Hank",       "M",   30,       71,      158',
 '"Ivan",       "M",   53,       72,      175',
 '"Jake",       "M",   32,       69,      143',
 '"Kate",       "F",   47,       69,      139',
 '"Luke",       "M",   34,       72,      163',
 '"Myra",       "F",   23,       62,       98',
 '"Neil",       "M",   36,       75,      160',
 '"Omar",       "M",   38,       70,      145',
 '"Page",       "F",   31,       67,      135',
 '"Quin",       "M",   29,       71,      176',
 '"Ruth",       "F",   28,       65,      131']

A short-cut to this process is to call the `.readlines()` method, which returns a pre-made list of lines.

Note that the newlines are preserved in this case.

In [8]:
file_handle = open(src_file_name, 'r')
file_as_list_of_strings = file_handle.readlines()

In [9]:
file_as_list_of_strings

['"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"\n',
 '"Alex",       "M",   41,       74,      170\n',
 '"Bert",       "M",   42,       68,      166\n',
 '"Carl",       "M",   32,       70,      155\n',
 '"Dave",       "M",   39,       72,      167\n',
 '"Elly",       "F",   30,       66,      124\n',
 '"Fran",       "F",   33,       66,      115\n',
 '"Gwen",       "F",   26,       64,      121\n',
 '"Hank",       "M",   30,       71,      158\n',
 '"Ivan",       "M",   53,       72,      175\n',
 '"Jake",       "M",   32,       69,      143\n',
 '"Kate",       "F",   47,       69,      139\n',
 '"Luke",       "M",   34,       72,      163\n',
 '"Myra",       "F",   23,       62,       98\n',
 '"Neil",       "M",   36,       75,      160\n',
 '"Omar",       "M",   38,       70,      145\n',
 '"Page",       "F",   31,       67,      135\n',
 '"Quin",       "M",   29,       71,      176\n',
 '"Ruth",       "F",   28,       65,      131']

File objects should be closed when you are done with them.

In [10]:
file_handle.close()

# Use a `with` block to automatically open and close the file i/o object

There is a better way to handle objects that need to be closed.

Other examples of such objects are database handles.

`with` will automatically open and close the file handle.

In [8]:
with open(src_file_name, 'r') as infile:
    file_as_list = infile.readlines()

In [9]:
file_as_list

['"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"\n',
 '"Alex",       "M",   41,       74,      170\n',
 '"Bert",       "M",   42,       68,      166\n',
 '"Carl",       "M",   32,       70,      155\n',
 '"Dave",       "M",   39,       72,      167\n',
 '"Elly",       "F",   30,       66,      124\n',
 '"Fran",       "F",   33,       66,      115\n',
 '"Gwen",       "F",   26,       64,      121\n',
 '"Hank",       "M",   30,       71,      158\n',
 '"Ivan",       "M",   53,       72,      175\n',
 '"Jake",       "M",   32,       69,      143\n',
 '"Kate",       "F",   47,       69,      139\n',
 '"Luke",       "M",   34,       72,      163\n',
 '"Myra",       "F",   23,       62,       98\n',
 '"Neil",       "M",   36,       75,      160\n',
 '"Omar",       "M",   38,       70,      145\n',
 '"Page",       "F",   31,       67,      135\n',
 '"Quin",       "M",   29,       71,      176\n',
 '"Ruth",       "F",   28,       65,      131']

# Convert into a 2D list

Let's covert our list of strings to a list of lists, the former being the rows of data table and the latter the cells.

In [13]:
# %%time
list_2d = []
with open(src_file_name, 'r') as infile:
    for line in infile.readlines():
        row = line.rstrip().split(",") # Note the use of rstrip()
        list_2d.append(row)

In [14]:
list_2d

[['"Name"', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"'],
 ['"Alex"', '       "M"', '   41', '       74', '      170'],
 ['"Bert"', '       "M"', '   42', '       68', '      166'],
 ['"Carl"', '       "M"', '   32', '       70', '      155'],
 ['"Dave"', '       "M"', '   39', '       72', '      167'],
 ['"Elly"', '       "F"', '   30', '       66', '      124'],
 ['"Fran"', '       "F"', '   33', '       66', '      115'],
 ['"Gwen"', '       "F"', '   26', '       64', '      121'],
 ['"Hank"', '       "M"', '   30', '       71', '      158'],
 ['"Ivan"', '       "M"', '   53', '       72', '      175'],
 ['"Jake"', '       "M"', '   32', '       69', '      143'],
 ['"Kate"', '       "F"', '   47', '       69', '      139'],
 ['"Luke"', '       "M"', '   34', '       72', '      163'],
 ['"Myra"', '       "F"', '   23', '       62', '       98'],
 ['"Neil"', '       "M"', '   36', '       75', '      160'],
 ['"Omar"', '       "M"', '   38', '       70', '      145'],
 ['"Page"', '       "F"', '   31', '       67', '      135'],
 ['"Quin"', '       "M"', '   29', '       71', '      176'],
 ['"Ruth"', '       "F"', '   28', '       65', '      131']]

Note that we now have do something with the column names and handle formating and casting each cell.

# Using a list comprehension

We can replace the entire code block above nested list comprehensions.

Remember, you can put any expression into the first part of a comprehension, even another comprehension.

In [102]:
list_2d = [[cell.strip() for cell in line.rstrip().replace('"', '').split(",")] 
        for line in open(src_file_name, 'r').readlines()]

In [103]:
list_2d

[['Name', 'Sex', 'Age', 'Height (in)', 'Weight (lbs)'],
 ['Alex', 'M', '41', '74', '170'],
 ['Bert', 'M', '42', '68', '166'],
 ['Carl', 'M', '32', '70', '155'],
 ['Dave', 'M', '39', '72', '167'],
 ['Elly', 'F', '30', '66', '124'],
 ['Fran', 'F', '33', '66', '115'],
 ['Gwen', 'F', '26', '64', '121'],
 ['Hank', 'M', '30', '71', '158'],
 ['Ivan', 'M', '53', '72', '175'],
 ['Jake', 'M', '32', '69', '143'],
 ['Kate', 'F', '47', '69', '139'],
 ['Luke', 'M', '34', '72', '163'],
 ['Myra', 'F', '23', '62', '98'],
 ['Neil', 'M', '36', '75', '160'],
 ['Omar', 'M', '38', '70', '145'],
 ['Page', 'F', '31', '67', '135'],
 ['Quin', 'M', '29', '71', '176'],
 ['Ruth', 'F', '28', '65', '131']]

# Converting to Numpy

In [72]:
import numpy as np

Numpy arrays must be of the same data types, and it also has no concept of column names, so we remove this row from our data.

In [73]:
col_names = list_2d[0]

In [74]:
col_names

['Name', 'Sex', 'Age', 'Height (in)', 'Weight (lbs)']

In [75]:
np_matrix = np.array(list_2d[1:])

In [76]:
np_matrix

array([['Alex', 'M', '41', '74', '170'],
       ['Bert', 'M', '42', '68', '166'],
       ['Carl', 'M', '32', '70', '155'],
       ['Dave', 'M', '39', '72', '167'],
       ['Elly', 'F', '30', '66', '124'],
       ['Fran', 'F', '33', '66', '115'],
       ['Gwen', 'F', '26', '64', '121'],
       ['Hank', 'M', '30', '71', '158'],
       ['Ivan', 'M', '53', '72', '175'],
       ['Jake', 'M', '32', '69', '143'],
       ['Kate', 'F', '47', '69', '139'],
       ['Luke', 'M', '34', '72', '163'],
       ['Myra', 'F', '23', '62', '98'],
       ['Neil', 'M', '36', '75', '160'],
       ['Omar', 'M', '38', '70', '145'],
       ['Page', 'F', '31', '67', '135'],
       ['Quin', 'M', '29', '71', '176'],
       ['Ruth', 'F', '28', '65', '131']], dtype='<U4')

Here we demonstrate slicing along both dimensions.

# Array Slices

In [48]:
np_matrix[:2, :2]

array([['Alex', '       M'],
       ['Bert', '       M']], dtype='<U9')

# Converting Data Types

Let's try to convert the data types of the numeric columns from strings to integers. One thing we might do is the following:

In [93]:
np_matrix[:, 2:5].astype(int)

array([[ 41,  74, 170],
       [ 42,  68, 166],
       [ 32,  70, 155],
       [ 39,  72, 167],
       [ 30,  66, 124],
       [ 33,  66, 115],
       [ 26,  64, 121],
       [ 30,  71, 158],
       [ 53,  72, 175],
       [ 32,  69, 143],
       [ 47,  69, 139],
       [ 34,  72, 163],
       [ 23,  62,  98],
       [ 36,  75, 160],
       [ 38,  70, 145],
       [ 31,  67, 135],
       [ 29,  71, 176],
       [ 28,  65, 131]])

We see that the strings are converted to integers.

So, let's try to save the conversion results to the original array:

In [94]:
np_matrix[:, 2:5] = np_matrix[:, 2:5].astype(int)

In [96]:
np_matrix

array([['Alex', 'M', '41', '74', '170'],
       ['Bert', 'M', '42', '68', '166'],
       ['Carl', 'M', '32', '70', '155'],
       ['Dave', 'M', '39', '72', '167'],
       ['Elly', 'F', '30', '66', '124'],
       ['Fran', 'F', '33', '66', '115'],
       ['Gwen', 'F', '26', '64', '121'],
       ['Hank', 'M', '30', '71', '158'],
       ['Ivan', 'M', '53', '72', '175'],
       ['Jake', 'M', '32', '69', '143'],
       ['Kate', 'F', '47', '69', '139'],
       ['Luke', 'M', '34', '72', '163'],
       ['Myra', 'F', '23', '62', '98'],
       ['Neil', 'M', '36', '75', '160'],
       ['Omar', 'M', '38', '70', '145'],
       ['Page', 'F', '31', '67', '135'],
       ['Quin', 'M', '29', '71', '176'],
       ['Ruth', 'F', '28', '65', '131']], dtype='<U4')

What happened?

# Some Difficulties

It is pretty easy to import CSV files this way, but there are many difficulties you are likely to encounter if you use this as your default pattern for importing data. Here are just a few:
- **Not all sources are well-formed**. They may have delimitters that are complex to parse, and the the data themselve may be hard to parse.
- **You have to keep the column names in a separate list or vector** and then associate them with the data if and when necessary.
- **You have to convert each column vector into its appropriate data type yourself.** Or, you have to create separate 2D arrays for each collection of columns with a common data type. This process also invovles human inspection of the file, as opposed to have a program try to figure it out for you.

For these reasons, other tools such as Pandas were created to make the work of a data scientist a bit easier and more productive.