# Metadata

```{yaml}
Course:   DS 5100
Module:   06 Pandas
Topic:    Narrow vs Wide Tables
Author:   R.C. Alvarado
Date:     21 September 2022
```

# Narrow vs Wide Tables

In [1]:
import pandas as pd

In [2]:
pets = pd.Series("cat dog ferret snake turtle parraot".split()).sample(1000, replace=True).to_list()
people = pd.Series("A B C D E F G".split()).sample(1000, replace=True).to_list()   
NARROW = pd.DataFrame(dict(pet=pets, owner=people)).groupby(['owner', 'pet']).pet.count().to_frame('n')

This is a narrow table. 

It has few columns and many rows. 

Columns are types of things, and values in rows are either instances or subtypes.

In [3]:
NARROW

                n
owner pet
A     cat      26
      dog      19
      ferret   25
      parraot  35
      snake    29
      turtle   21
B     cat      20
      dog      27
      ferret   28
      parraot  19
      snake    28
      turtle   20
C     cat      33
      dog      18
      ferret   28
      parraot  17
      snake    24
      turtle   26
D     cat      25
      dog      24
      ferret   24
      parraot  24
      snake    26
      turtle   32
E     cat      24
      dog      17
      ferret   17
      parraot  24
      snake    19
      turtle   22
F     cat      20
      dog      21
      ferret   25
      parraot  26
      snake    20
      turtle   29
G     cat      27
      dog      15
      ferret   21
      parraot  24
      snake    27
      turtle   24

In [4]:
WIDE = NARROW.n.unstack()

This is a wide table. 

One column's values are projected onto the feature space (as columns).

The othe column becomes a unique list (as is the feature space).

In [2]:
WIDE

NameError: name 'WIDE' is not defined

Narrow columns are more manageable by databases.

Wide columns are more usable for analysis.

You can do these things with narrow tables using `.group_by()`

In [6]:
A = WIDE / WIDE.sum()

In [7]:
B = WIDE.T / WIDE.T.sum()

In [8]:
A.style.background_gradient()

In [27]:
B.style.background_gradient()

In [28]:
NARROW.unstack()

        n
pet   cat dog ferret parraot snake turtle
owner
A      26  19     25      35    29     21
B      20  27     28      19    28     20
C      33  18     28      17    24     26
D      25  24     24      24    26     32
E      24  17     17      24    19     22
F      20  21     25      26    20     29
G      27  15     21      24    27     24

# 1 Hot Encoding

Project values onto the column axis.

In [29]:
pd.get_dummies(NARROW.n) #.sum() #.sort_values(ascending=False).plot(style='.');

               15  17  18  19  20  21  22  24  25  26  27  28  29  32  33  35
owner pet
A     cat       0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
      dog       0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
      ferret    0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
      parraot   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
      snake     0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
      turtle    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
B     cat       0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
      dog       0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
      ferret    0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
      parraot   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
      snake     0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
      turtle    0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
C     cat       0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0
      dog       0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
      ferret    0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
      parraot   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
      snake     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      turtle    0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
D     cat       0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
      dog       0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      ferret    0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      parraot   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      snake     0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
      turtle    0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
E     cat       0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      dog       0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
      ferret    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
      parraot   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      snake     0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
      turtle    0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0
F     cat       0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
      dog       0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
      ferret    0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
      parraot   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
      snake     0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
      turtle    0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
G     cat       0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
      dog       1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
      ferret    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
      parraot   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
      snake     0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
      turtle    0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0